body {
        margin: 0px;
        padding: 0px;
        padding-top: 80px;
        font-size: 16px;
}

/* Navbar */

.navbar-default a.navbar-brand {
        font-size: 23px;
}

.navbar-default a.navbar-brand:hover {
        font-size: 23px;
}

/* Page layout */
#page-wrapper {
        padding-left: 20px;
        padding-right: 20px;
}

/* Tables */
.borderless {
        margin-top: 20px;
}

.borderless thead > tr > th,
.borderless tbody > tr > td {
        border:none;
        padding: 0px;
}

.borderless thead > tr > th {
        padding-bottom: 5px;
}

.borderless thead > tr > th.intensity,
.borderless tbody > tr > td.intensity {
        width: 200px;
        padding-left: 30px;
        padding-right: 20px;
}

.table-pad tbody > tr > td {
        padding: 5px;
}

.slider-pad {
        margin-top: 10px;
}

.col-width-1 {
        width: 200px;
}

li.list-pad {
        padding-top: 1px;
        padding-bottom: 1px;
}

.dispute-title {
        font-size: 20px;
}

.dispute-container {
        margin-left: 2px;
}

a.link-pending {
        color: red;
        text-decoration:none;
}

a.link-completed {
        color: green;
        text-decoration:none;
}

a.link-edit {
        text-decoration:none;
}

a.link-pending:hover {
        color: red;
        text-decoration:none;
}

a.link-completed:hover {
        color: green;
        text-decoration:none;
}

a.link-edit:hover {
        text-decoration:none;
}

.page-header {
        margin: 5px 0 15px 0;
}

.menu-pad {
        height: 350px;
}

.link-pad {
	padding-left: 15px;
}

a.no-underline {
        text-decoration: none;
}

a.no-underline:hover {
        text-decoration: none;
}


/********  bhoechie tab ********/

.bhoechie-tab-element {
        width: 100%;
        padding: 10px 20px 0 10px;
}

div.bhoechie-tab-container{
        z-index: 10;
        background-color: #ffffff;
        padding: 0 !important;
        border-radius: 4px;
        -moz-border-radius: 4px;
        border:1px solid #ddd;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
        margin-bottom: 50px;
}

div.bhoechie-tab-menu{
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
        font-size: 16px;
        min-width: 190px;
}
div.bhoechie-tab-menu div.list-group{
        margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
        margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
        color: #428BCA;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
        border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
        border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
        color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -13px;
        border-left: 0;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-left: 10px solid #428BCA;
}

div.bhoechie-tab-content{
        background-color: #ffffff;
        /* border: 1px solid #eeeeee; */
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 20px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
        display: none;
}

div.bhoechie-tab-menu div.list-group a.list-group-item {
        padding-top: 20px;
        padding-bottom: 20px;
}

div.tab-content-title {
        font-size: 20px;
        margin: 5px 0 20px 0;
}

/******** END bhoechie tab ********/

.chart-title {
        padding-top: 30px;
        padding-bottom: 10px;
        font-weight: bold;
}

.disclaimer {
        font-size: 120%;
        color: red;
}

.table-centered {
        margin: 0 auto !important;
        float: none !important;
}

.stats-table tbody tr td {
        padding: 40px;
}

.huge {
        font-size: 40px;
}

.tag {
        border-radius: 5px 5px 5px 5px;
        font-size: 10px;
        font-weight: bold;
        margin: 0 5px 0 1px;
        padding: 4px;
        text-decoration: none;
}

.paginator-padding {
        margin-top: 100px;
}
